:root {
  --basic-black: #000000;
  --basic-dark: #363636;
  --basic-white: #ffffff;
  --basic-grey: #464646;
  --basic-half-grey: #7E7E7E;
  --basic-grey-light: #E5E5E5;
  --special-yellow: #F7E296;
  --special-yellow-dark: #F0C52E;
  --special-green: #91C92F;
  --special-pink: #F6DADA;
}
/* gilroy-300 - latin_cyrillic */
@font-face {
  font-weight: 300;
  font-family: "Gilroy";
  font-style: normal;
  src: url("../fonts/gilroylight.woff2") format("woff2"), /* Chrome 26+, Opera 23+, Firefox 39+ */
  url("../fonts/gilroylight.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* gilroy-800 - latin_cyrillic */
@font-face {
  font-weight: 800;
  font-family: "Gilroy";
  font-style: normal;
  src: url("../fonts/gilroyextrabold.woff2") format("woff2"), /* Chrome 26+, Opera 23+, Firefox 39+ */
  url("../fonts/gilroyextrabold.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* open-sans-300 - latin_cyrillic */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: local('Open Sans Light'), local('OpenSans-Light'),
  url('../fonts/opensanslight.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
  url('../fonts/opensanslight.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* open-sans-regular - latin_cyrillic */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans Regular'), local('OpenSans-Regular'),
  url('../fonts/opensans.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
  url('../fonts/opensans.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

body {
  background-color: var(--basic-white);
  color: var(--basic-black);
  font-family: 'Open Sans', sans-serif;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}
